img {
    width: 100%;
    height: auto;
}

.right { grid-area: right; }
.middle { grid-area: middle; }
.left { grid-area: left; }



.grid-container {
    display: grid;
    grid-template-areas:
            'adv . ';
    grid-template-columns: 20% 80%;
    padding: 40px;
}


.footer {
    grid-area: foot;
    background-color: #777;
    text-align: center;
    color: white;
    bottom:0;
    width:100%;

}

.footer li{
    list-style-type: none;
}
body{
    height: 100%;
}

.advancedSearch {
    grid-area: adv;
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    height: 100%;
    -webkit-transition: width 0.5s ease-in-out ;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.advancedSearch2 {
    padding: 50px;
    height: 100%;
}
nav li a:hover {
    background-color: #111;
}

.myList:hover{
    color: white;
    background-color: white;
}

.myLink{
    color: darkblue;
}

.login{
    padding: 20px;
}

.Register{
    padding: 20px;
}

.log{
text-align: right;
}

.newComment{
    text-align: center;
}

.kommentar{
    background-color: lightblue;
    text-align: center;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 1em;
}

.readArticle{
    padding: 70px;
}

.importance{
    padding: 20px;
}

@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}
.tcontainer{
    width: 100%;
    overflow: hidden;
}
.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: lightgray;
}
.ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 90s;
}

.ticker-item{
    display: inline-block;
    padding: 10px 2rem;

}

.newsBar{
    color: white;
    padding: 150px;
}

.categoryTitle{
    text-align: center;
}