img {
    width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-areas:
            'adv . ';
    grid-template-columns: 20% 80%;
    padding: 40px;
}

.footer {
    grid-area: foot;
    background-color: #777;
    text-align: center;
    color: white;
    bottom:0;
    width:100%;
}

.footer li{
    list-style-type: none;
}
body{
    height: 100%;
}

.advancedSearch {
    grid-area: adv;
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    height: 100%;
    -webkit-transition: width 0.5s ease-in-out ;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.advancedSearch2 {
    padding: 50px;
    height: 100%;
}

.myList:hover{
    color: white;
    background-color: white;
}

nav li a:hover {
    background-color: #111;
}

.myLink{
    color: darkblue;
}

.login{
    padding: 20px;
}

.Register{
    padding: 20px;
}

.log{
text-align: right;
}

/*CSS for the article*/
.readArticle{
    padding: 50px 100px 50px 100px;
}

.articleTitle{
    text-align: center;
}

.pictureSize{
    padding: 20px 100px 5px 100px;
}

.pictureCapt{
    padding-left: 100px;
}

.newComment{
    text-align: center;
}

.rating{
    text-align: center;
    padding: 10px;
}

.comment-boxes{
    padding-right: 200px;
    padding-left: 200px;
}

.comments-box{
    background-color: lightblue;
    text-align: center;
    border-radius: 25px;
    padding: 20px 1px 20px 1px;
    margin: 1em;
}

.delete{
    color: white;
    background-color: red;

}

{/*New Article*/}


.importance{
    padding: 20px;
}


{/*NewsBar*/}
@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}
.tcontainer{
    width: 100%;
    overflow: hidden;
}
.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: lightgray;
}
.ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 50s;
}

.ticker-item{
    display: inline-block;
    padding: 10px 2rem;

}

.newsBar{
    color: white;
    padding: 150px;
}


{/*Category page*/}
.categoryTitle{
     text-align: center;
 }

.title{
    text-align: center;
}

{/*Preview page*/}
.preview-btn{
    color: white;
    background-color: #1e7e34;
}
.preview {
    padding: 50px 500px 50px 500px;
}

.mini-article{
    padding: 5px;
    border-style: solid;
}

